<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Subharthi's Portfolio</title>
  </head>
  <body>
    <div id="container">
      <div id="header">Hi</div>
      <div id="main">
        <div id="skills" class="section">
          <% for (skill of portfolioData.skills) { %>
          <div
            class="item"
            style="
              --skill-level-bar-width: <%= skill.level %>%;
              --skill-color: <%= skill.color %>;
            "
          >
            <img src="<%= skill.imgUrl %>" />
            <div class="name"><%= skill.name %></div>
            <div class="level">
              <div class="bar"></div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <div id="footer">ddd</div>
    </div>

    <script type="text/javascript" src="./index.js"></script>
  </body>
</html>
