<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Subharthi's Portfolio</title>
  </head>
  <body>
    <div id="container">
      <div id="header"><div id="text">sh</div></div>
      <div id="main">
        <div id="first_banner" class="section">
          <div id="text_layer" class="layer">
            <div id="text">
              I'm <span id="name">Subharthi Hazra</span>, a
              <span id="prof">Software Developer</span>
              from Kolkata, India !
            </div>
          </div>

          <div id="pic_layer" class="layer"></div>

          <div id="pointer_circle">
            <div id="actual_circle"></div>
          </div>
        </div>
        <div id="skills" class="section">
          <% for (skill of portfolioData.skills) { %>
          <div
            class="item"
            style="
              --skill-level-bar-width: <%= skill.level %>%;
              --skill-color: <%= skill.color %>;
            "
          >
            <div
              class="image"
              style="background-image: url('<%= skill.imgUrl %>')"
            ></div>
            <div class="name"><%= skill.name %></div>
            <div class="level">
              <div class="bar"></div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <div id="footer">ddd</div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.topology.min.js"></script>
    <script src="https://unpkg.com/kinet@2.2.1/dist/kinet.min.js"></script>
    <script type="text/javascript" src="./index.js"></script>
  </body>
</html>
