/*----FONT FACES ---*/

@font-face {
  font-family: yyy;
  font-weight: 400;
  /* src: url("./fonts/Rosegoldia\ 400.otf"); */
  /* src: url("./fonts/Crowned\ 400.ttf"); */
  /* src: url("./fonts/Hursttom\ Randolph\ 400.otf"); */
  /* src: url("./fonts/Khayla\ Almira\ 400.otf"); */
  src: url("./fonts/Rheaski\ 400.ttf");
  /* src: url("./fonts/Berday\ Free\ 400.otf"); */
  /* src: url("./fonts/VanillaRavioliDemo\ 400.ttf"); */
  /* src: url("./fonts/Welcome\ Autumn\ 400.otf"); */
  /* src: url("./fonts/Cloudy\ June\ 400.ttf"); */
  /* src: url("./fonts/Stork\ Delivery\ 400.ttf"); */
}
@font-face {
  font-family: StorkDelivery;
  font-weight: 400;
  src: url("./fonts/Stork\ Delivery\ 400.ttf");
}

@font-face {
  font-family: KhaylaAlmira;
  font-weight: 400;
  src: url("./fonts/Khayla\ Almira\ 400.otf");
}
/*---- DOM TOP PRESETS ---*/

:root {
  --header-height: 50px;
  --mouse-x: 50%;
  --mouse-y: 50%;
}

* {
  font-family: "Quicksand", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/*-------------------------------------*/
body {
  margin: 0;
  padding: 0;
  /* background-color: black; */
  /* background-color: #000912; */

  background-color: #15202b;
  /* background-image: linear-gradient(105deg, rgb(0 35 35), rgb(0 3 23)); */
  background-image: radial-gradient(
    ellipse 80% 50% at 50% -20%,
    rgba(119, 154, 198, 0.3),
    transparent
  );
  background-attachment: fixed;
  color: white;
  overflow-x: hidden;
}
/*-------------------------------------*/
/*----MAIN Container ---*/

#container {
  /* height: 100vh;
  overflow-y: auto; */
}
/*-------------------------------------*/
/*----HEADER ---*/

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
  border-radius: 15px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  box-sizing: border-box;
  transition: all 0.3s;
}
/*----HEADER When scrolled down ---*/

#header.float {
  top: 10px;
  background-color: #6262626f;
  backdrop-filter: blur(20px) saturate(85%);
  border: 1px solid #ffffff4d;
  /* border: 1px solid #ffffff14; */
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  /* padding: 0px 5px; */
  animation: headerBouncy 1.5s ease-in;
}

/* #header.float.wobble {
  animation: headerBouncy 1.5s ease-in;
} */

/*----sh text at left of header ---*/

#header #text {
  font-family: yyy;
  letter-spacing: 1px;
  font-size: 25px;
  position: relative;
  margin: 0 0 0 10px;
}

#header #text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  height: 3px;
  width: 100%;
  background-color: #ff7b4f;
}

/*------------------------------*/
/*----header links ---*/

#header #navbar {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-right: 10px;
}

#header.float #navbar {
  margin-right: 0;
}
#header #navbar a {
  text-decoration: none;
  color: white;
}

#header #navbar .navbar_link {
  /* background-color: red; */
  height: calc(100% - 5px * 2);
  /* border: 1px solid transparent; */
  margin: 5px 0 5px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  /* border-radius: 11px; */
  align-items: center;
  padding: 0 15px 0 15px;
  font-size: 20px;
  line-height: 1em;
  font-family: "Mooli", sans-serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

#header #navbar .navbar_link::after {
  content: "";
  position: absolute;
  /* width: 0%;
  height: 100%;
  left: 50%;

  bottom: 0;
  height: 3px;
  background-color: #ff7b4f; */
  z-index: -1;
  transition: all 0.2s;

  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  border-radius: 11px;
  border: 1px solid #ffffff4d;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: #b7b7b72e;
  transform: scale(0.8);
  opacity: 0;
  backdrop-filter: blur(5px);
}

#header #navbar a:hover .navbar_link {
  /* border-color: #ffffff4d;
  background-color: #40404033; */
  /* color: black; */
}

#header #navbar a:hover .navbar_link::after {
  /* left: 0%;
  width: 100%; */
  transform: scale(1);
  opacity: 1;
}

/*----header menu for mobile view ---*/

#header #menu_button {
  display: none;
  position: relative;
  height: 100%;
  /* display: flex; */
  align-items: center;
  height: calc(100% - 5px * 2);
  margin: 5px 0 5px 0;
  box-sizing: border-box;
}
/*---*/

#header #menu_button::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.2s;

  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  border-radius: 11px;
  border: 1px solid #ffffff4d;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: #b7b7b72e;
  transform: scale(0.8);
  opacity: 0;
  backdrop-filter: blur(5px);
}

#header #menu_button:hover::after {
  transform: scale(1);
  opacity: 1;
}
/*-------------------------------------------*/

#header #menu_icon {
  flex-grow: 0;
  width: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  transition: background-color 0.2s;
}

#header #menu_icon .line {
  position: relative;
  top: 0;
  width: 60%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transform-origin: center center;
  transition: transform 0.2s 0.3s, top 0.5s 0.3s, opacity 0.5s 0.3s,
    width 0.5s 0.3s;
}

/*--------------------*/
/*------------------------------------*/

#header.open_menu #menu_icon #line1 {
  /* background:red; */
  transform: translateY(6px) rotateZ(45deg);
  transition: transform 0.5s 0.3s;
}
#header.open_menu #menu_icon #line2 {
  opacity: 0;
  width: 0;
  transition: opacity 0.3s 0.2s, width 0.3s 0.1s;
}
#header.open_menu #menu_icon #line3 {
  transform: translateY(-6px) rotateZ(-45deg);
  transition: transform 0.5s 0.3s;
}
/*-------------------------------------*/
/*----Actual MENU ---*/

#menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;

  /* background-color: #0a1b2b; */

  background-color: #000000bb;
  /* background-image: linear-gradient(180deg, #15202b, #334358); */
  /* background-color: #000000; */
  backdrop-filter: saturate(180%) blur(25px);
  z-index: 80;
  /* padding-top: calc(var(--header-height) + 30px); */

  transform: translateX(100%);
  opacity: 0;
  overflow: hidden;

  transition: opacity 0.3s, transform 0s 0.3s;
}

#menu.open_menu {
  transform: translateX(0%);
  opacity: 1;
  transition: opacity 0.3s;
}

#menu #wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;
  letter-spacing: 1px;
  justify-content: center;

  transform: scale(1.2);
  opacity: 0;

  transition-property: all;
  transition-duration: 0.3s;
}

#menu a {
  text-decoration: none;
  color: white;
}
#menu .navbar_link {
  margin-left: 10%;
  font-size: 30px;
  color: white;
  font-family: "Mooli", sans-serif;
  transform: translateX(-10%);
  opacity: 0;
  position: relative;

  transition-property: transform, opacity;
  transition-duration: 0s;
  transition-delay: 0.3s;
}

#menu .navbar_link::before {
  content: "";
  position: absolute;
  top: 10%;
  left: -20px;
  height: 80%;
  width: 5px;
  background-color: #ff7b4f;
  opacity: 0;
  transition: opacity 0.3s;
}

#menu .navbar_link:hover::before {
  opacity: 1;
}

#menu.open_menu #wrapper {
  transform: scale(1);
  opacity: 1;
}

#menu.open_menu .navbar_link {
  transform: translateX(0%);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-delay: calc(var(--link-iterator) * 0.05s);
}
/*-------------------------------------*/
/*----Actual MAIN containt ---*/

#main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
/*-------------------------------------*/
/*---- sections ---*/

#main .section {
  transform: translateX(0%);
  opacity: 1;
  scroll-margin-top: calc(var(--header-height, 50px) + 25px);
  --webkit-scroll-margin-top: calc(var(--header-height, 50px) + 25px);
  scroll-snap-margin-top: calc(
    var(--header-height, 50px) + 25px
  ); /* iOS 11 and older */

  filter: blur(0px);
  --webkit-filter: blur(0px);
  --moz-filter: blur(0px);

  /* overflow: hidden; */ /* scroll-margin-top won't work if its on */

  transition: all 0.5s;
}

#main .section.hidden {
  opacity: 0;
  transform: translateX(-100%);
}
/*-------------------------------------*/
/*----First cover when opened ---*/

#main .section#first_banner {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  background-color: black;
}

#main .section#first_banner .layer {
}
/*----Text at first cover ---*/

#main .section#first_banner .layer#text_layer {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 50px;
  z-index: 3;
}

#main .section#first_banner .layer#text_layer #text {
  width: 100%;
  padding: 0 5% 0 5%;
  box-sizing: border-box;
  font-weight: 300;
  font-family: "Roboto Slab", sans-serif;
  letter-spacing: 1px;

  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-image: url("./images/logo_blob_solid.svg"); */
}
/*----my name anim ---*/

#main .section#first_banner .layer#text_layer #text #name {
  /* font-size: 0.97em; */
  letter-spacing: 2px;
  font-weight: 600;
  /* font-family: "Roboto Slab", serif; */
  font-family: "Comfortaa", sans-serif;
  background: linear-gradient(
    to right,
    #ffdb0f 20%,
    #8f0fff 35%,
    #0089c9 50%,
    #00c91e 65%,
    #ffdb0f 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 8s ease-in-out infinite;
}
#main .section#first_banner .layer#text_layer #text #prof {
  /* font-size: 1.08em; */
  /* font-family: KhaylaAlmira; */
  font-family: "Mooli", serif;
}
/*----my pic ---*/

#main .section#first_banner .layer#text_layer #mypic {
  /* position: absolute; */
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-left: 5%;
}
#main .section#first_banner .layer#text_layer #links {
  /* width: 180px; */
  margin-left: 5%;
  height: 80px;
}
/*--- social links in first banner ----*/
#main .section#first_banner .layer#text_layer #links #wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  /* grid-gap: 15px; */
}

#main .section#first_banner .layer#text_layer #links .item {
  background-color: var(--icon-color, #acacac);
  height: 40px;
  width: 40px;
  /* border-radius: 100px; */
  cursor: pointer;
  transition: all 0.3s;
}
#main .section#first_banner .layer#text_layer #links .item:hover {
  transform: translateY(-3px);
}
/*-------------------------------------*/
/*----animated topography ---*/

#main .section#first_banner .layer#pic_layer {
  position: absolute;
  z-index: 1;
  background-color: #000848;
}

/*-------------------------------------*/
/*---- anim down logo ---*/

#main .section#first_banner #scroll_down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

#main .section#first_banner #scroll_down #wrapper {
  animation: animScrollDown 4s ease-in-out infinite;
}

#main .section#first_banner #scroll_down #logo {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 0 3px 3px 0;
  border-color: white;
  transform: rotate(45deg);
}

/*-------------------------------------*/
/*----SKILLS section ---*/

#main .section#skills {
  min-height: 100vh;
}
#main .section#skills #skill_text {
  font-size: 35px;
  font-family: "Mooli", sans-serif;
  text-align: center;
  margin: 0 0 50px 0;
}
#main .section#skills #skills_shelf {
  display: grid;
  /* grid-auto-columns: 150px; */
  grid-template-columns: repeat(auto-fit, 150px);
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  justify-content: center;
  /* grid-gap: 25px; */
}
#main .section#skills .item {
  position: relative;
  /* background-image: var(--skill-color); */
  /* height: 300px; */
  /* box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px 3px; */

  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.5),
    0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  /* border: 2px solid rgba(255, 255, 255, 0.12); */
  overflow: hidden;
  cursor: default;
}

#main .section#skills .item::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.12);
  border-radius: inherit;
  box-sizing: border-box;
  z-index: -1;

  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: calc(100% + 4px) calc(100% + 4px);
  background-position: center center;
  background-color: rgb(0, 24, 35);
  background-image: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    var(--skill-color) 0%,
    transparent
  );
  transition: all 0.3s;
}
/*------------------------------------------*/
/*------------ handling anim of fade in on scroll -------------*/

#main .section#skills.hidden .item {
  opacity: 0;
  transform: translateX(-10%);

  filter: blur(4px);
  --webkit-filter: blur(4px);
  --moz-filter: blur(4px);

  transition: none;
}

#main .section#skills .item {
  opacity: 1;
  transform: translateX(0%);

  filter: blur(0px);
  --webkit-filter: blur(0px);
  --moz-filter: blur(0px);

  transition: all 0.3s;
  transition-delay: calc(var(--skill-iterator) * 0.1s + 0.3s);
}
/*------------------------------------------*/

#main .section#skills .item .image {
  margin: 10px;
  box-sizing: border-box;
  width: calc(100% - 10px * 2);
  aspect-ratio: 1 / 1;
  border-radius: 5px;

  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: rgb(48, 48, 48); */
}
#main .section#skills .item .name {
  font-size: 20px;
  text-align: center;
  word-wrap: break-word;
  margin: 0 10px;
}
#main .section#skills .item .level {
  position: relative;
  width: 80%;
  margin: 10px auto 10px auto;
  height: 7px;
  border-radius: 10px;
}

#main .section#skills .item .level::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.11);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
  z-index: -1;
}

#main .section#skills .item .level .bar {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  height: inherit;
  width: var(--skill-level-bar-width);
}

/*-------------------------------------*/
/*----cursor following circle ---*/

#pointer_circle {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;
  pointer-events: none;
  /* mix-blend-mode: difference; */
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
}

#pointer_circle #actual_circle {
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to top left, #0062be, #00a2fe); */
  border: 2px solid rgba(255, 255, 255, 1);
  /* background-color: rgba(255, 255, 255, 0.234); */
  /* box-shadow: white 0px 0px 5px 0px; */
  box-sizing: border-box;
  border-radius: 50%;

  transition-property: border-radius, width, height, margin;
  transition-duration: 0.15s;
}
#pointer_circle.clicked {
}

#pointer_circle.clicked #actual_circle {
  border-radius: 25%;
  width: 80%;
  height: 80%;
  animation: animPointerCircle 8s linear infinite;
}

#pic_layer canvas {
  transition: background 0.3s;
}
/*------------------------------*/
/*----MEDIA QUERIES ---*/
/*------------------------------*/

@media screen and (min-width: 750px) {
  #main .section#first_banner {
    /* flex-direction: row; */
  }
  #main .section#first_banner .layer#text_layer {
  }

  #main .section#first_banner .layer#pic_layer {
    height: 100vh;
    width: 50%;
    right: 0%;
  }

  #main .section#first_banner .layer#text_layer #text {
    font-size: 45px;
    line-height: 60px;
  }

  /* #main .section#first_banner .layer#text_layer #mypic {
    top: 150px;
  } */

  #main .section.hidden {
    filter: blur(25px);
    --webkit-filter: blur(25px);
    --moz-filter: blur(25px);
  }
  #main .section#skills #skills_shelf {
    grid-gap: 25px;
  }
}

@media screen and (max-width: 750px) {
  #main .section#first_banner {
    /* flex-direction: column; */
  }
  #main .section#first_banner .layer#text_layer {
    height: 100vh;
    width: 100%;
  }

  #main .section#first_banner .layer#pic_layer {
    height: 50vh;
    width: 100%;
    bottom: 0%;
  }

  #main .section#first_banner .layer#text_layer #text {
    font-size: 30px;
    line-height: 40px;
  }

  /* #main .section#first_banner .layer#text_layer #mypic {
    top: 100px;
  } */
  #header.float {
    left: 10px;
    width: calc(100% - 10px * 2);
  }
  #main .section#skills {
    padding: 0 10px;
  }

  #main .section#skills #skills_shelf {
    grid-gap: 15px;
  }
}
/*---------------------------------------------------*/
/*----touch or pointer device ---*/

@media (pointer: fine) {
}

@media (pointer: coarse) {
  #pointer_circle {
    display: none;
  }
  #main .section#skills .item::before {
    background-image: radial-gradient(
      circle at 50% 50%,
      var(--skill-color) 0%,
      transparent
    );
  }
}

/*---------------------------------------------------*/
/*----first banner adj. ---*/

@media screen and (min-width: 1000px) {
  #main .section#first_banner .layer#text_layer {
    height: 100vh;
    width: 50%;
    left: 0%;
  }

  #main .section#skills {
    padding: 0 15%;
  }
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
  #main .section#first_banner .layer#text_layer {
    height: 100vh;
    width: 70%;
    left: 15%;
  }

  #header.float {
    left: 10px;
    width: calc(100% - 10px * 2);
  }

  #main .section#skills {
    padding: 0 max(5%, 10px);
  }
}
/*---------------------------------------------------*/
/*----header length adj. ---*/

@media screen and (min-width: 1400px) {
  #header.float {
    left: 20%;
    width: 60%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #header.float {
    left: 15%;
    width: 70%;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1200px) {
  #header.float {
    left: 10%;
    width: 80%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
  #header.float {
    left: 5%;
    width: 90%;
  }
}
/* -----------------------------------------------*/
@media (prefers-reduced-motion) {
  #main .section {
    transition: none;
  }
  #main .section#skills .item {
    transition: none;
  }
}

/*-----------------------------------------------*/
/*----phone and PC view menu nav switch ---*/

@media screen and (min-width: 900px) {
  #menu {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  #header #navbar {
    display: none; /* temporary */
  }

  #header #menu_button {
    display: flex;
  }
}

/*-----------------------------------------------*/
/*----ANIMATIONs ---*/

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes animPointerCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animScrollDown {
  0% {
    transform: translateY(-20px) scale(1.2, 0.8);
  }
  50% {
    transform: translateY(20px) scale(0.9, 1.1);
  }
  100% {
    transform: translateY(-20px) scale(1.2, 0.8);
  }
}

@keyframes headerBouncy {
  0% {
    transform: scaleX(1);
  }
  16.66% {
    transform: scaleX(0.91);
  }
  33.33% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.98);
  }
  66.66% {
    transform: scaleX(1);
  }
  83.33% {
    transform: scaleX(0.99);
  }
  100% {
    transform: scaleX(1);
  }
}
/*-------------------------------------*/
