@font-face {
  font-family: yyy;
  font-weight: 400;
  /* src: url("./fonts/Rosegoldia\ 400.otf"); */
  /* src: url("./fonts/Crowned\ 400.ttf"); */
  /* src: url("./fonts/Hursttom\ Randolph\ 400.otf"); */
  /* src: url("./fonts/Khayla\ Almira\ 400.otf"); */
  src: url("./fonts/Rheaski\ 400.ttf");
  /* src: url("./fonts/Berday\ Free\ 400.otf"); */
  /* src: url("./fonts/VanillaRavioliDemo\ 400.ttf"); */
  /* src: url("./fonts/Welcome\ Autumn\ 400.otf"); */
  /* src: url("./fonts/Cloudy\ June\ 400.ttf"); */
  /* src: url("./fonts/Stork\ Delivery\ 400.ttf"); */
}
@font-face {
  font-family: StorkDelivery;
  font-weight: 400;
  src: url("./fonts/Stork\ Delivery\ 400.ttf");
}

@font-face {
  font-family: KhaylaAlmira;
  font-weight: 400;
  src: url("./fonts/Khayla\ Almira\ 400.otf");
}

:root {
  --header-height: 50px;
}

* {
}
/*-------------------------------------*/
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
}
/*-------------------------------------*/

#container {
  /* height: 100vh;
  overflow-y: auto; */
}
/*-------------------------------------*/

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
  border-radius: 15px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  box-sizing: border-box;
  transition: all 0.3s;
}

#header.float {
  top: 10px;
  background-color: #626262a3;
  backdrop-filter: blur(30px) saturate(120%);
  border: 1px solid #ffffff4d;
  /* border: 1px solid #ffffff14; */
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  padding: 0px 5px 0 15px;
}
#header #text {
  font-family: yyy;
  letter-spacing: 1px;
  font-size: 25px;
  position: relative;
  /* margin: 0 0 0 10px; */
}

#header #text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  height: 3px;
  width: 100%;
  background-color: #ff7b4f;
}

/*------------------------------*/

#header #navbar {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
#header #navbar a {
  text-decoration: none;
  color: white;
}

#header #navbar .navbar_link {
  /* background-color: red; */
  height: calc(100% - 5px * 2);
  /* border: 1px solid transparent; */
  margin: 5px 0 5px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  /* border-radius: 11px; */
  align-items: center;
  padding: 0 15px 0 15px;
  font-size: 20px;
  font-family: "Mooli";
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

#header #navbar .navbar_link::after {
  content: "";
  position: absolute;
  /* width: 0%;
  height: 100%;
  left: 50%;

  bottom: 0;
  height: 3px;
  background-color: #ff7b4f; */
  z-index: -1;
  transition: all 0.2s;

  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  border-radius: 11px;
  border: 1px solid #ffffff4d;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: #b7b7b753;
  transform: scale(0.8);
  opacity: 0;
}

#header #navbar a:hover .navbar_link {
  /* border-color: #ffffff4d;
  background-color: #40404033; */
  /* color: black; */
}

#header #navbar a:hover .navbar_link::after {
  /* left: 0%;
  width: 100%; */
  transform: scale(1);
  opacity: 1;
}

/*-------------------------------------*/

#main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
/*-------------------------------------*/

#main .section {
}
/*-------------------------------------*/

#main .section#first_banner {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
}

#main .section#first_banner .layer {
}

#main .section#first_banner .layer#text_layer {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 2;
}

#main .section#first_banner .layer#text_layer #text {
  width: 100%;
  padding: 0 5% 0 5%;
  box-sizing: border-box;
  font-weight: 300;
  font-family: "Roboto Slab", serif;
  letter-spacing: 1px;
  line-height: 60px;

  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-image: url("./images/logo_blob_solid.svg"); */
}

#main .section#first_banner .layer#text_layer #text #name {
  font-size: 0.97em;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
  background: linear-gradient(
    to right,
    #00729b 20%,
    #009b7f 30%,
    rgb(1, 205, 79) 70%,
    #00729b 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 8s ease-in-out infinite;
}
#main .section#first_banner .layer#text_layer #text #prof {
  font-size: 1.08em;
  font-family: KhaylaAlmira;
}

#main .section#first_banner .layer#text_layer #mypic {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-left: 5%;
}
/*-------------------------------------*/

#main .section#first_banner .layer#pic_layer {
  position: absolute;
  z-index: 1;
}

/*-------------------------------------*/
#main .section#first_banner #scroll_down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

#main .section#first_banner #scroll_down #wrapper {
  animation: animScrollDown 4s ease-in-out infinite;
}

#main .section#first_banner #scroll_down #logo {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 0 3px 3px 0;
  border-color: white;
  transform: rotate(45deg);
}

/*-------------------------------------*/

#main .section#skills {
  display: grid;
  grid-auto-columns: 150px;
  grid-template-columns: repeat(auto-fit, 300px);
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  justify-content: center;
  grid-gap: 30px;
}
#main .section#skills .item {
  background-color: var(--skill-color);
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px 3px;
}

#main .section#skills .item .image {
  height: 150px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(48, 48, 48);
}

#main .section#skills .item .level {
  width: 80%;
  height: 5px;
  background-color: aliceblue;
}

#main .section#skills .item .level .bar {
  background-color: red;
  height: 5px;
  width: var(--skill-level-bar-width);
}
/*-------------------------------------*/
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes animPointerCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animScrollDown {
  0% {
    transform: translateY(-20px) scale(1.2, 0.8);
  }
  50% {
    transform: translateY(20px) scale(0.9, 1.1);
  }
  100% {
    transform: translateY(-20px) scale(1.2, 0.8);
  }
}
/*-------------------------------------*/

#pointer_circle {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;
  pointer-events: none;
  /* mix-blend-mode: difference; */
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
}

#pointer_circle #actual_circle {
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to top left, #0062be, #00a2fe); */
  border: 2px solid rgba(255, 255, 255, 1);
  /* background-color: rgba(255, 255, 255, 0.234); */
  /* box-shadow: white 0px 0px 5px 0px; */
  box-sizing: border-box;
  border-radius: 50%;

  transition-property: border-radius, width, height, margin;
  transition-duration: 0.15s;
}
#pointer_circle.clicked {
}

#pointer_circle.clicked #actual_circle {
  border-radius: 25%;
  width: 80%;
  height: 80%;
  animation: animPointerCircle 8s linear infinite;
}

#pic_layer canvas {
  transition: background 0.3s;
}
/*------------------------------*/

@media screen and (min-width: 750px) {
  #main .section#first_banner {
    /* flex-direction: row; */
  }
  #main .section#first_banner .layer#text_layer {
  }

  #main .section#first_banner .layer#pic_layer {
    height: 100vh;
    width: 50%;
    right: 0%;
  }

  #main .section#first_banner .layer#text_layer #text {
    font-size: 45px;
  }

  #main .section#first_banner .layer#text_layer #mypic {
    top: 150px;
  }
}

@media screen and (max-width: 750px) {
  #main .section#first_banner {
    /* flex-direction: column; */
  }
  #main .section#first_banner .layer#text_layer {
    height: 100vh;
    width: 100%;
  }

  #main .section#first_banner .layer#pic_layer {
    height: 50vh;
    width: 100%;
    bottom: 0%;
  }

  #main .section#first_banner .layer#text_layer #text {
    font-size: 35px;
  }

  #main .section#first_banner .layer#text_layer #mypic {
    top: 100px;
  }
  #header.float {
    left: 10px;
    width: calc(100% - 10px * 2);
  }
}
/*---------------------------------------------------*/

@media (pointer: fine) {
}

@media (pointer: coarse) {
  #pointer_circle {
    display: none;
  }
}

/*---------------------------------------------------*/

@media screen and (min-width: 1000px) {
  #main .section#first_banner .layer#text_layer {
    height: 100vh;
    width: 50%;
    left: 0%;
  }

  #header.float {
    left: 10%;
    width: 80%;
  }
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
  #main .section#first_banner .layer#text_layer {
    height: 100vh;
    width: 70%;
    left: 15%;
  }

  #header.float {
    left: 10px;
    width: calc(100% - 10px * 2);
  }
}
/*---------------------------------------------------*/
